<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OdsReadWrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OdsReadWrite.Properties.Settings>
            <setting name="Sheets" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value>..\..\Input\Input.ods</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>..\..\Output\Output.ods</value>
            </setting>
            <setting name="OpenCreatedFile" serializeAs="String">
                <value>True</value>
            </setting>
        </OdsReadWrite.Properties.Settings>
    </userSettings>
</configuration>